modules = ["nodejs-20", "web"]

[nix]
channel = "stable-25_05"

[workflows]
runButton = "Full Stack Dev"

[[workflows.workflow]]
name = "Full Stack Dev"
author = 46615363
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "cd FigmaForge && npm install && npm run build && npm start"

[[ports]]
localPort = 5000
externalPort = 80
